body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img {
  position: absolute;
  top: 25px;
  left: 25px;
}
.imgA1 {
  z-index: 1;
}
.imgB1 {
  z-index: 3;
  top: 450px;
  left: 120px;

}
.imgB2 {
  z-index: 3;
  top: 450px;
  left: 300px;
 
}

.imgB3 {
  z-index: 3;
  top: 150px;
  left: 200px;

}
.containerdiv {
  border: 0;
  float: initial;
  position: relative;
} 
