body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img {
  position: absolute;
  top: 25px;
  left: 25px;
}
.boisko {
  z-index: 1;
   position: relative;
}
.imgB1 {
  z-index: 3;
  top: 810px;
  left: 280px;
  display:none;

}
.imgB2 {
  z-index: 3;
  top: 670px;
  left: 50px;
  display:none;
 
}

.imgB3 {
  z-index: 3;
  top: 670px;
  left: 280px;
  display:none;

}
.imgB4 {
  z-index: 3;
  top: 670px;
  left: 510px;
  display:none;

}
.imgB5 {
  z-index: 3;
  top: 530px;
  left: 50px;
  display:none;

}
.imgB6 {
  z-index: 3;
  top: 530px;
  left: 280px;
  display:none;

}
.imgB7 {
  z-index: 3;
  top: 530px;
  left: 510px;
  display:none;

}
.imgB8 {
  z-index: 3;
  top: 70px;
  left: 280px;
  display:none;

}
.imgB9 {
  z-index: 3;
  top: 220px;
  left: 50px;
  display:none;

}
.imgB10 {
  z-index: 3;
  top: 220px;
  left: 280px;
  display:none;

}
.imgB11 {
  z-index: 3;
  top: 220px;
  left: 510px;
  display:none;

}
.imgB12 {
  z-index: 3;
  top: 370px;
  left: 50px;
  display:none;

}
.imgB13 {
  z-index: 3;
  top: 370px;
  left: 280px;
  display:none;

}
.imgB14 {
  z-index: 3;
  top: 370px;
  left: 510px;
  display:none;

}

.containerdiv {
  border: 0;
  float: initial;
  position: relative;
} 

.tekst_koszulka1 {
position: absolute;
 z-index: 3;
top: 845px;
left: 313px;
font-weight: bold;
 font-size: 100%;
   display:none;
   color:white;
}

.tekst_koszulka2 {
position: absolute;
 z-index: 3;
top: 700px;
left: 85px;
font-weight: bold;
 font-size: 100%;
   display:none;
   color:white;
}

.tekst_koszulka3 {
position: absolute;
 z-index: 3;
top: 700px;
left: 313px;
font-weight: bold;
 font-size: 100%;
   display:none;
   color:white;
}
.tekst_koszulka4 {
position: absolute;
 z-index: 3;
top: 700px;
left: 550px;
font-weight: bold;
 font-size: 100%;
   display:none;
   color:white;
}
.tekst_koszulka5 {
position: absolute;
 z-index: 3;
top: 560px;
left: 85px;
font-weight: bold;
 font-size: 100%;
   display:none;
   color:white;
}
.tekst_koszulka6 {
position: absolute;
 z-index: 3;
top: 560px;
left: 313px;
font-weight: bold;
 font-size: 100%;
   display:none;
   color:white;
}
.tekst_koszulka7 {
position: absolute;
 z-index: 3;
top: 560px;
left: 550px;
font-weight: bold;
 font-size: 100%;
   display:none;
   color:white;
}

.tekst_koszulka8 {
position: absolute;
 z-index: 3;
top: 100px;
left: 319px;
font-weight: bold;
 font-size: 100%;
   display:none;
   color:black;
}
.tekst_koszulka9 {
position: absolute;
 z-index: 3;
top: 250px;
left: 90px;
font-weight: bold;
 font-size: 100%;
   display:none;
   color:black;
}
.tekst_koszulka10 {
position: absolute;
 z-index: 3;
top: 250px;
left: 318px;
font-weight: bold;
 font-size: 100%;
   display:none;
   color:black;
}
.tekst_koszulka11 {
position: absolute;
 z-index: 3;
top: 250px;
left: 550px;
font-weight: bold;
 font-size: 100%;
   display:none;
   color:black;
}
.tekst_koszulka12 {
position: absolute;
 z-index: 3;
top: 400px;
left: 90px;
font-weight: bold;
 font-size: 100%;
   display:none;
   color:black;
}
.tekst_koszulka13 {
position: absolute;
 z-index: 3;
top: 400px;
left: 318px;
font-weight: bold;
 font-size: 100%;
   display:none;
   color:black;
}
.tekst_koszulka14 {
position: absolute;
 z-index: 3;
top: 400px;
left: 550px;
font-weight: bold;
 font-size: 100%;
   display:none;
   color:black;
}

.lostMatch {
    color: red;
}
.wonMatch {
    color: green;
}