
<div class="containerdiv">
    @*<button class="myButton" onclick="window.location.reload()">Odśwież</button>*@


    <input type="button" class="myButton" value="Reset" onclick="location.href='@Url.Action("ResetTeam", "Draw")'" />
    <input type="button" class="myButton" value="Let's start!" onclick="location.href='@Url.Action("NewDraw", "Draw")'" />
    @if (ViewBag.ShowSaveButton)
    {
        <input type="button" class="myButton" value="Save" onclick="location.href='@Url.Action("Create", "Fixture")'" />
    }
</div>
