@model FootballTeamManager.ViewModels.Ranking
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ranking</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Miejsce</th>
        <th>Zawodnik</th>
        <th>Skill</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var player in Model.RankingList)
    {
        <tr>
            <td>@player.Rank</td>
            <td>@Html.ActionLink(player.PlayerName, "Details", "Players", new { Id = player.PlayerId }, null)</td>
            <td>@player.Skill</td>
        </tr>
    }
    </tbody>
</table>

